<?xml version='1.0' encoding='utf-8'?>
<configuration>
  <comport>COM4</comport>
  <homedir>\home\</homedir>
  <pitch>8.0</pitch>
  <stp_rev>200.0</stp_rev>
  <max_travel>283.0</max_travel>
  <offset_hsk63>393.00</offset_hsk63>
  <offset_bt40>327.00</offset_bt40>
  <offset_captoc3>289.888</offset_captoc3>
</configuration>
